a {
	color:#aaa;
}
#container {
	width:800px;
	margin:auto;
	text-align:center;
	background-color:#CCF;
	padding:10px;
}
#status {
	color:#aaa;
	font-size:10px;
	max-height:250px;
	width:500px;
	overflow:auto;
	background:#f5f0f5;
	padding:10px;
	display:none;
	text-align:left;
	margin:auto;
}
#showlink {
	color:#FF7766;
	font-size:13px;
	display:none;
}
#image_settings {
    display: none;
    width:200px;
    margin:auto;
    text-align: center;
}
#gallery-name {
	width:200px;
}
#sizer {
    width:50px;
    margin:0;
}
#im_settings {
    color:#aaaaaa;
}
input {
	width:700px;
	margin:20px 0 30px 0;
}
h1 {
	color:#777777;
}

.links p {
	color:#aaa;
}